.fab {
    color: #ffffff;
}

.jumbotron { 
    height: 100px;
    padding: 10px;
}

.far {
    color: white;
}

img {
    width: 100%;
}

@media (max-width: 576px) { 
    img {
        width: 100%;
    }
}